In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("filterData.csv", index_col=False).dropna()

In [3]:
df

         fullStreetName                                           geometry
0           Aaron Court  LINESTRING (-89.2902063370892 43.0699044254489...
1          Aberg Avenue  LINESTRING (-89.35108493947916 43.111393638528...
2          Aberg Avenue  LINESTRING (-89.35441819350038 43.113216175130...
3          Aberg Avenue  LINESTRING (-89.35120582309719 43.111287085396...
4          Aberg Avenue  LINESTRING (-89.34904876463618 43.110623510002...
...                 ...                                                ...
37318  County Highway M  LINESTRING (-89.44217904737353 43.129269402549...
37319       Easy Street  LINESTRING (-89.41136778404771 43.206396913113...
37320  Hellenbrand Road  LINESTRING (-89.48151291724193 43.197459202530...
37321  Hellenbrand Road  LINESTRING (-89.48150503464385 43.199457677702...
37322         Lacy Road  LINESTRING (-89.45347691902651 43.001207732360...

[37323 rows x 2 columns]

In [4]:

df['CoordList'] = None
# for index, row in df.iterrows():
#     df.at[row, 'CoordList'] = row['geometry'].split("(")[1].split(")")[0].split(",")

In [5]:
for index, row in df.iterrows():
    # Assuming 'geometry' contains strings formatted like "LINESTRING (x y, x y, ...)"
    coord_list = row['geometry'].split("(")[1].split(")")[0].split(", ")
    # Convert each string coordinate to a tuple of floats
    coord_list = [tuple(map(float, coord.split())) for coord in coord_list]
    df.at[index, 'CoordList'] = coord_list

In [6]:
filterdf = df[['fullStreetName', 'CoordList']]

In [7]:
filterdf

         fullStreetName                                          CoordList
0           Aaron Court  [(-89.2902063370892, 43.069904425448954), (-89...
1          Aberg Avenue  [(-89.35108493947916, 43.11139363852837), (-89...
2          Aberg Avenue  [(-89.35441819350038, 43.1132161751301), (-89....
3          Aberg Avenue  [(-89.35120582309719, 43.111287085396064), (-8...
4          Aberg Avenue  [(-89.34904876463618, 43.110623510002654), (-8...
...                 ...                                                ...
37318  County Highway M  [(-89.44217904737353, 43.129269402549), (-89.4...
37319       Easy Street  [(-89.41136778404771, 43.206396913113316), (-8...
37320  Hellenbrand Road  [(-89.48151291724193, 43.19745920253067), (-89...
37321  Hellenbrand Road  [(-89.48150503464385, 43.199457677702036), (-8...
37322         Lacy Road  [(-89.45347691902651, 43.001207732360804), (-8...

[37323 rows x 2 columns]

In [8]:
filterdf.to_csv("filterDatarev2.csv", index=False)

In [9]:
import pandas as pd
import glob
import os

path = r'C:\Users\marke\projects\parking\ParkingData\scr\CollectedData' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

print(all_files)

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

['C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_01.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_02.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_03.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_04.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_05.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_06.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_07.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_08.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_09.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_10.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_11.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_12.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_13.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_14.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_15.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_16.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_17.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_18.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_19.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_20.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_22.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_23.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_24.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_25.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_26.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_27.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_28.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_29.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_30.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_31.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_32.csv']

In [10]:
frame

,Date Issue,Location,Comment,License Plate,Type,Ticket #,Tick_Num
0,01/02/2024 03:06 PM,JOHNSON ST,TOW AWAY ZONE,607TGF,101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P,24P0100001,1.0
1,01/02/2024 03:06 PM,JOHNSON ST,TOW AWAY ZONE,607TGF,TOW TOW FEE,24P0100002,2.0
2,01/02/2024 03:11 PM,JOHNSON ST,TOW AWAY ZONE,CV44027,101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P,24P0100003,3.0
3,01/02/2024 03:11 PM,JOHNSON ST,TOW AWAY ZONE,CV44027,TOW TOW FEE,24P0100004,4.0
4,01/02/2024 03:22 PM,JOHNSON ST,TOW AWAY ZONE,ASH8863,101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P,24P0100005,5.0
...,...,...,...,...,...,...,...
53450,05/14/2024 11:27 PM,FRANCES ST,NO PARKING IN THIS CIRCLE,APS8352,075 RESTRICTED BY SIGNS,24P3201715,NaN
53451,05/15/2024 01:43 AM,LIEN RD,CUSTOMER PARKING ONLY,DB12147,083 POSTED PRIVATE OR PUBLIC PROPERTY,24P3201716,NaN
53452,05/15/2024 03:30 AM,BEDFORD ST,NO PARKING HERE TO CORNER W/ ARROW,DE86308,075 RESTRICTED BY SIGNS,24P3201717,NaN
53453,05/16/2024 12:07 AM,MILWAUKEE ST,NO PARKING 10PM-8AM,X3718A,047 NO PARKING SPECIFIED TIMES,24P3201718,NaN
53454,05/16/2024 03:47 AM,OLD SAUK RD,NO PARKING ANYTIME,ANY5782,046 NO PARKING ANYTIME,24P3201719,NaN

In [11]:

filterdf = filterdf[~filterdf['fullStreetName'].str.contains("Highway")]
filterdf

         fullStreetName                                          CoordList
0           Aaron Court  [(-89.2902063370892, 43.069904425448954), (-89...
1          Aberg Avenue  [(-89.35108493947916, 43.11139363852837), (-89...
2          Aberg Avenue  [(-89.35441819350038, 43.1132161751301), (-89....
3          Aberg Avenue  [(-89.35120582309719, 43.111287085396064), (-8...
4          Aberg Avenue  [(-89.34904876463618, 43.110623510002654), (-8...
...                 ...                                                ...
37316   Keating Terrace  [(-89.45783668839694, 43.05923918705557), (-89...
37319       Easy Street  [(-89.41136778404771, 43.206396913113316), (-8...
37320  Hellenbrand Road  [(-89.48151291724193, 43.19745920253067), (-89...
37321  Hellenbrand Road  [(-89.48150503464385, 43.199457677702036), (-8...
37322         Lacy Road  [(-89.45347691902651, 43.001207732360804), (-8...

[33744 rows x 2 columns]

In [12]:
import re

suffix_map = {
    'STREET': 'St',
    'AVENUE': 'Ave',
    'ROAD': 'Rd',
    'BOULEVARD': 'Blvd',
    'DRIVE': 'Dr',
    'COURT': 'Ct',
    'TERRACE': 'Ter',
    'PLACE': 'Pl',
    'LANE': 'Ln'
}

In [13]:
def abbreviate_street_names(name):
    for full_suffix, abbr_suffix in suffix_map.items():
        pattern = re.compile(r'\b' + re.escape(full_suffix) + r'\b', re.IGNORECASE)
        if pattern.search(name):
            name = pattern.sub(abbr_suffix, name)
            break
    return name

# Apply the function to the DataFrame
filterdf['fullStreetName'] = filterdf['fullStreetName'].apply(abbreviate_street_names)

C:\Users\marke\AppData\Local\Temp\ipykernel_31572\2462153716.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterdf['fullStreetName'] = filterdf['fullStreetName'].apply(abbreviate_street_names)

In [14]:
filterdf

       fullStreetName                                          CoordList
0            Aaron Ct  [(-89.2902063370892, 43.069904425448954), (-89...
1           Aberg Ave  [(-89.35108493947916, 43.11139363852837), (-89...
2           Aberg Ave  [(-89.35441819350038, 43.1132161751301), (-89....
3           Aberg Ave  [(-89.35120582309719, 43.111287085396064), (-8...
4           Aberg Ave  [(-89.34904876463618, 43.110623510002654), (-8...
...               ...                                                ...
37316     Keating Ter  [(-89.45783668839694, 43.05923918705557), (-89...
37319         Easy St  [(-89.41136778404771, 43.206396913113316), (-8...
37320  Hellenbrand Rd  [(-89.48151291724193, 43.19745920253067), (-89...
37321  Hellenbrand Rd  [(-89.48150503464385, 43.199457677702036), (-8...
37322         Lacy Rd  [(-89.45347691902651, 43.001207732360804), (-8...

[33744 rows x 2 columns]

In [21]:
directions = ['North', 'N', 'South', 'S', 'East', 'E', 'West', 'W']

In [22]:
def remove_cardinal_directions(name):
    # Create a regex pattern to match any of the directions followed by optional whitespace
    pattern = r'\b(' + '|'.join(re.escape(dir) for dir in directions) + r')\b\s*'
    # Replace occurrences with an empty string
    return re.sub(pattern, '', name, flags=re.IGNORECASE).strip()

filterdf['fullStreetName'] = filterdf['fullStreetName'].apply(remove_cardinal_directions)
filterdf

C:\Users\marke\AppData\Local\Temp\ipykernel_31572\1438081947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterdf['fullStreetName'] = filterdf['fullStreetName'].apply(remove_cardinal_directions)

,fullStreetName,CoordList,fullStreetNamelow
0,Aaron Ct,"[(-89.2902063370892, 43.069904425448954), (-89...",aaron ct
1,Aberg Ave,"[(-89.35108493947916, 43.11139363852837), (-89...",aberg ave
2,Aberg Ave,"[(-89.35441819350038, 43.1132161751301), (-89....",aberg ave
3,Aberg Ave,"[(-89.35120582309719, 43.111287085396064), (-8...",aberg ave
4,Aberg Ave,"[(-89.34904876463618, 43.110623510002654), (-8...",aberg ave
...,...,...,...
37316,Keating Ter,"[(-89.45783668839694, 43.05923918705557), (-89...",keating ter
37319,Easy St,"[(-89.41136778404771, 43.206396913113316), (-8...",easy st
37320,Hellenbrand Rd,"[(-89.48151291724193, 43.19745920253067), (-89...",hellenbrand rd
37321,Hellenbrand Rd,"[(-89.48150503464385, 43.199457677702036), (-8...",hellenbrand rd
37322,Lacy Rd,"[(-89.45347691902651, 43.001207732360804), (-8...",lacy rd

In [24]:
filterdf['fullStreetNamelow'] = filterdf['fullStreetName'].str.lower()
frame['Locationlow'] = frame['Location'].str.lower()



print(frame.head())
print(filterdf.head())

            Date Issue    Location        Comment License Plate  \
0  01/02/2024 03:06 PM  JOHNSON ST  TOW AWAY ZONE        607TGF
1  01/02/2024 03:06 PM  JOHNSON ST  TOW AWAY ZONE        607TGF
2  01/02/2024 03:11 PM  JOHNSON ST  TOW AWAY ZONE       CV44027
3  01/02/2024 03:11 PM  JOHNSON ST  TOW AWAY ZONE       CV44027
4  01/02/2024 03:22 PM  JOHNSON ST  TOW AWAY ZONE       ASH8863

                                       Type    Ticket #  Tick_Num Locationlow
0  101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P  24P0100001       1.0  johnson st
1                               TOW TOW FEE  24P0100002       2.0  johnson st
2  101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P  24P0100003       3.0  johnson st
3                               TOW TOW FEE  24P0100004       4.0  johnson st
4  101 NO STOP/STAND/PARK 3P-5:30P OR 3P-6P  24P0100005       5.0  johnson st
  fullStreetName                                          CoordList  \
0       Aaron Ct  [(-89.2902063370892, 43.069904425448954), (-89...
1      Aberg Ave  [(-89.35108493947916, 43.11139363852837), (-89...
2      Aberg Ave  [(-89.35441819350038, 43.1132161751301), (-89....
3      Aberg Ave  [(-89.35120582309719, 43.111287085396064), (-8...
4      Aberg Ave  [(-89.34904876463618, 43.110623510002654), (-8...

  fullStreetNamelow
0          aaron ct
1         aberg ave
2         aberg ave
3         aberg ave
4         aberg ave

C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3446973683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterdf['fullStreetNamelow'] = filterdf['fullStreetName'].str.lower()

In [25]:
commonStreets = set(filterdf['fullStreetNamelow']).intersection(frame['Locationlow'])

In [26]:
filterdf2 = filterdf[filterdf['fullStreetNamelow'].isin(commonStreets)]
filterdf2

,fullStreetName,CoordList,fullStreetNamelow
1,Aberg Ave,"[(-89.35108493947916, 43.11139363852837), (-89...",aberg ave
2,Aberg Ave,"[(-89.35441819350038, 43.1132161751301), (-89....",aberg ave
3,Aberg Ave,"[(-89.35120582309719, 43.111287085396064), (-8...",aberg ave
4,Aberg Ave,"[(-89.34904876463618, 43.110623510002654), (-8...",aberg ave
5,Aberg Ave,"[(-89.34904876463618, 43.110623510002654), (-8...",aberg ave
...,...,...,...
36771,Badger Rd,"[(-89.38395834594628, 43.038352084656815), (-8...",badger rd
36772,Badger Rd,"[(-89.37906406238956, 43.03829387079072), (-89...",badger rd
37287,Main St,"[(-89.4427455503061, 43.19201333480392), (-89....",main st
37288,Main St,"[(-89.44308364803122, 43.19200368612234), (-89...",main st
37316,Keating Ter,"[(-89.45783668839694, 43.05923918705557), (-89...",keating ter

In [27]:
filterdf2 = filterdf2[['fullStreetName', 'CoordList']]
filterdf2

      fullStreetName                                          CoordList
1          Aberg Ave  [(-89.35108493947916, 43.11139363852837), (-89...
2          Aberg Ave  [(-89.35441819350038, 43.1132161751301), (-89....
3          Aberg Ave  [(-89.35120582309719, 43.111287085396064), (-8...
4          Aberg Ave  [(-89.34904876463618, 43.110623510002654), (-8...
5          Aberg Ave  [(-89.34904876463618, 43.110623510002654), (-8...
...              ...                                                ...
36771      Badger Rd  [(-89.38395834594628, 43.038352084656815), (-8...
36772      Badger Rd  [(-89.37906406238956, 43.03829387079072), (-89...
37287        Main St  [(-89.4427455503061, 43.19201333480392), (-89....
37288        Main St  [(-89.44308364803122, 43.19200368612234), (-89...
37316    Keating Ter  [(-89.45783668839694, 43.05923918705557), (-89...

[11017 rows x 2 columns]

In [28]:
filterdf2.to_csv("filterDatarev3.csv", index=False)

In [30]:
from datetime import datetime, timedelta

path = r'C:\Users\marke\projects\parking\ParkingData\scr\CollectedData' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

print(all_files)

li = []

for idx in range(2):
    df = pd.read_csv(li[idx-1], index_col=None, header=0)
    df['Type #'] = df['Type'].str.split(" ").str[0]
    df['Date Issue'] = pd.to_datetime(df['Date Issue'])
    df['Hour'] = df['Date Issue'].dt.hour
    df['DayOfWeek'] = df['Date Issue'].dt.day_name()

    df.to_csv(li[idx-1], index=False)

['C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_01.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_02.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_03.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_04.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_05.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_06.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_07.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_08.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_09.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_10.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_11.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_12.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_13.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_14.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_15.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_16.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_17.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_18.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_19.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_20.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_22.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_23.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_24.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_25.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_26.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_27.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_28.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_29.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_30.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_31.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_32.csv']

IndexError: list index out of range

In [31]:
import os
import glob
import pandas as pd
from datetime import datetime, timedelta

# Define the path to the directory containing the CSV files
path = r'C:\Users\marke\projects\parking\ParkingData\scr\CollectedData'  # Use your path

# Get a list of all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.csv"))

print(all_files)  # Print the list of files to verify

# Process each CSV file
for file in all_files:
    # Read the CSV file
    df = pd.read_csv(file, index_col=None, header=0)
    
    # Add 'Type #' column by extracting the first part of the 'Type' column
    df['Type #'] = df['Type'].str.split(" ").str[0]
    
    # Convert 'Date Issue' column to datetime
    df['Date Issue'] = pd.to_datetime(df['Date Issue'])
    
    # Add 'Hour' and 'DayOfWeek' columns
    df['Hour'] = df['Date Issue'].dt.hour
    df['DayOfWeek'] = df['Date Issue'].dt.day_name()

    # Save the processed data back to the CSV file
    df.to_csv(file, index=False)

['C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_01.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_02.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_03.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_04.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_05.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_06.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_07.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_08.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_09.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_10.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_11.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_12.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_13.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_14.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_15.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_16.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_17.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_18.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_19.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_20.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_22.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_23.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_24.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_25.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_26.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_27.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_28.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_29.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_30.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_31.csv', 'C:\\Users\\marke\\projects\\parking\\ParkingData\\scr\\CollectedData\\parking_tickets_data_32.csv']

C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])
C:\Users\marke\AppData\Local\Temp\ipykernel_31572\3341797642.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Issue'] = pd.to_datetime(df['Date Issue'])